* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header li {
  text-transform: uppercase;
}
header .top-row-menu {
  background-color: #0282f9;
  text-align: right;
}
header .top-row-menu ul {
  justify-content: flex-end;
}
header .top-row-menu ul li {
  color: #ffffff;
  padding: 5px 20px;
  font-size: 12px;
}
header .top-row-menu ul li .icon {
  font-size: 10px;
}
header .top-row-menu ul li .sm {
  font-size: 6px;
  position: relative;
  top: -4px;
  left: 0;
}
header .header-content {
  padding-top: 40px;
  padding-bottom: 10px;
}
header .header-content .container {
  justify-content: space-between;
  align-items: center;
}
header .header-content .container .logo img {
  width: 80px;
}
header .header-content .container nav .menu li {
  padding: 0 20px;
}
header .header-content .container nav .menu li a {
  font-size: 13px;
  font-weight: bold;
  color: #535455;
}
header .header-content .container nav .menu li a.active {
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
  padding-bottom: 40px;
}
header .header-content .container .search-content {
  display: flex;
}
header .header-content .container .search-content .search {
  border: 0;
  border-bottom: 2px solid #0282f9;
  text-align: right;
  width: 130px;
  padding: 1px 30px 1px 0;
  outline: 0;
}
header .header-content .container .search-content i {
  position: relative;
  bottom: 1px;
  right: 25px;
  color: #535455;
  cursor: pointer;
}
header .jumbotron {
  height: 400px;
  overflow: hidden;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}

main .main-content {
  background-color: #1c1c1c;
  padding-top: 60px;
  position: relative;
}
main .main-content .current {
  color: #ffffff;
  background-color: #0282f9;
  position: absolute;
  top: -40px;
  left: auto;
  padding: 20px;
  text-transform: uppercase;
}
main .main-content .container {
  justify-content: space-between;
  flex-wrap: wrap;
}
main .main-content .container .single-box {
  width: calc((100% / 6) - 10px);
  padding: 0 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
main .main-content .container .single-box .image-box {
  height: 200px;
  overflow: hidden;
}
main .main-content .container .single-box h3 {
  padding: 20px 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
}
main .main-content .load-btn {
  background-color: #0282f9;
  padding: 10px 45px;
  border: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 20px auto;
  outline: 0;
  cursor: pointer;
}
main .main-content .bg-blue {
  background-color: #0282f9;
}
main .main-content .bg-blue .container {
  justify-content: space-around;
}
main .main-content .bg-blue .container .single-item {
  align-items: center;
  padding: 20px 0;
  cursor: pointer;
}
main .main-content .bg-blue .container .single-item img {
  height: 50px;
  color: #ffffff;
}
main .main-content .bg-blue .container .single-item p {
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 10px;
  font-size: 14px;
}
main .main-content .bg-blue .container .single-item:last-child img {
  width: 50px;
}
main .single-product .bg-blue {
  height: 100px;
  background-color: #0282f9;
}
main .single-product .container {
  position: relative;
}
main .single-product .container .product-image {
  position: absolute;
  top: -320px;
  left: 0;
  border: 1px solid #ffffff;
}
main .single-product .container .info {
  padding: 80px 0;
  justify-content: space-between;
}
main .single-product .container .info .info-product {
  width: 60%;
}
main .single-product .container .info .info-product h1 {
  color: #003f5e;
  text-transform: uppercase;
  font-size: 26px;
  padding-bottom: 20px;
}
main .single-product .container .info .info-product .availability {
  justify-content: space-between;
  background-color: #55ba59;
}
main .single-product .container .info .info-product .availability .price {
  width: 55%;
  color: #bafd9c;
}
main .single-product .container .info .info-product .availability .result-price {
  color: #ffffff;
}
main .single-product .container .info .info-product .availability .available {
  width: 20%;
  text-align: right;
  border-right: 1px solid #000000;
  color: #bafd9c;
  text-transform: uppercase;
}
main .single-product .container .info .info-product .availability .check-availability {
  width: 25%;
  color: #ffffff;
}
main .single-product .container .info .info-product .availability .price,
main .single-product .container .info .info-product .availability .available,
main .single-product .container .info .info-product .availability .check-availability {
  padding: 15px;
}
main .single-product .container .info .info-product p {
  padding: 20px 0;
  font-size: 18px;
  line-height: 25px;
  color: #535455;
}
main .single-product .container .info .adv-image {
  width: 40%;
  text-align: right;
}
main .single-product .container .info .adv-image h3 {
  color: #535455;
}
main .single-product .cast {
  background-color: #f6f6f6;
  border-top: 1px solid lightgray;
  padding-top: 60px;
}
main .single-product .cast .cast-content {
  justify-content: space-between;
  align-items: baseline;
}
main .single-product .cast .cast-content .list-title {
  width: 30%;
  color: #003f5e;
}
main .single-product .cast .cast-content .data-of-product {
  width: 70%;
}
main .single-product .cast .cast-content h2 {
  color: #003f5e;
}
main .single-product .cast .cast-content .artist-content {
  width: 50%;
}
main .single-product .cast .cast-content .artist-content li {
  display: inline-block;
  color: #00a9df;
  font-size: 14px;
  line-height: 10px;
}
main .single-product .cast .cast-content .artist-content .artist,
main .single-product .cast .cast-content .artist-content .writers,
main .single-product .cast .cast-content .artist-content h2 {
  border-bottom: 1px solid #e3e3e3;
  padding: 15px 0;
}
main .single-product .cast .cast-content .info-content {
  width: 45%;
}
main .single-product .cast .cast-content .info-content .series,
main .single-product .cast .cast-content .info-content .price,
main .single-product .cast .cast-content .info-content .on-sale,
main .single-product .cast .cast-content .info-content h2 {
  padding: 15px 0;
  border-bottom: 1px solid #e3e3e3;
}
main .single-product .cast .cast-content .info-content .specs-series {
  text-transform: uppercase;
  color: #00a9df;
}
main .single-product .cast .icon-container {
  margin-top: 60px;
  border-top: 1px solid #e3e3e3;
}
main .single-product .cast .icon-container .icon-product-page .single-icon {
  padding: 10px;
  color: #535455;
  width: calc(100% / 4);
  justify-content: space-around;
  border-left: 1px solid #e3e3e3;
}
main .single-product .cast .icon-container .icon-product-page .single-icon:last-child {
  border-right: 1px solid #e3e3e3;
}
main .single-product .cast .icon-container .icon-product-page .single-icon h5 {
  text-transform: uppercase;
}
main .single-product .cast .icon-container .icon-product-page .single-icon #digital-comics,
main .single-product .cast .icon-container .icon-product-page .single-icon #shop-dc,
main .single-product .cast .icon-container .icon-product-page .single-icon #comic-shop,
main .single-product .cast .icon-container .icon-product-page .single-icon #subscription {
  background-image: url(../img/cta-icons.png);
  background-repeat: no-repeat;
  background-size: 180px;
  height: 45px;
  width: 45px;
}
main .single-product .cast .icon-container .icon-product-page .single-icon #digital-comics {
  background-position: 0 0;
}
main .single-product .cast .icon-container .icon-product-page .single-icon #shop-dc {
  background-position: -135px 0;
}
main .single-product .cast .icon-container .icon-product-page .single-icon #comic-shop {
  background-position: -90px 0;
}
main .single-product .cast .icon-container .icon-product-page .single-icon #subscription {
  background-position: -45px 0;
}

footer {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
}
footer .container .links-menu {
  width: 50%;
  padding-top: 40px;
  flex-wrap: wrap;
}
footer .container .links-menu .menu {
  list-style-type: none;
  padding-right: 30px;
}
footer .container .links-menu .menu li {
  padding: 3px 0;
}
footer .container .links-menu .menu li h3 {
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 0;
}
footer .container .links-menu .menu li a {
  color: #535455;
  font-size: 14px;
}
footer .container .links-menu p {
  padding: 20px 0;
  color: #535455;
  font-size: 14px;
}
footer .container .footer-image {
  width: 50%;
  text-align: end;
  position: relative;
  overflow: hidden;
}
footer .container .footer-image img {
  position: absolute;
  top: -80px;
  right: 0;
}
footer .bg-grey {
  background-color: #303030;
  padding: 40px 0;
}
footer .bg-grey .container {
  justify-content: space-between;
  align-items: center;
}
footer .bg-grey .container .access {
  width: 50%;
}
footer .bg-grey .container .access .sign-up {
  border: 2px solid #0282f9;
  padding: 10px;
  color: #ffffff;
  text-transform: uppercase;
}
footer .bg-grey .container .follow {
  width: 50%;
  align-items: center;
  justify-content: flex-end;
}
footer .bg-grey .container .follow .follow-text {
  color: #0282f9;
  font-weight: bold;
  font-size: 22px;
  padding-right: 25px;
}
footer .bg-grey .container .follow .social-menu li {
  padding: 0 10px;
}
footer .bg-grey .container .follow .social-menu li img {
  cursor: pointer;
}