main {

    .main-content  {
        background-color: #1c1c1c;
        padding-top: 60px;
        position: relative;

        .current {
            color: #ffffff;
            background-color: $brand_primary;
            position: absolute;
            top: -40px;
            left: auto;
            padding: 20px;
            text-transform: uppercase;
        }

        .container {
            justify-content: space-between;
            flex-wrap: wrap;

            .single-box {
                width: calc((100% / 6) - 10px);
                padding: 0 10px;
                padding-bottom: 10px;
                cursor: pointer;

                .image-box {
                    height: 200px;
                    overflow: hidden;
                }
    
                h3 {
                    padding: 20px 0;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-size: 12px;
                }
            }

        }

        .load-btn {
            background-color: $brand_primary;
            padding: 10px 45px;
            border: 0;
            color: #ffffff;
            text-transform: uppercase;
            font-weight: bold;
            display: block;
            margin: 20px auto;
            outline: 0;
            cursor: pointer;
        }


        .bg-blue {
            background-color: $brand_primary;

            .container {
                justify-content: space-around;

                .single-item {
                    align-items: center;
                    padding: 20px 0;
                    cursor: pointer;

                    img {
                        height: 50px;
                        color: #ffffff;

                    }

                    p {
                        text-transform: uppercase;
                        color: #ffffff;
                        padding: 0 10px;
                        font-size: 14px;
                    }

                    &:last-child img {
                        width: 50px;
                    }
                }
            }
        }
    }

    .single-product {

        .bg-blue {
            height: 100px;
            background-color: $brand_primary;
        }

       .container {
            position: relative;

            .product-image {
                position: absolute;
                top: -320px;
                left: 0;
                border: 1px solid #ffffff;
            }

            .info {
                padding: 80px 0;
                justify-content: space-between;

                .info-product {
                    width: 60%;

                    h1 {
                        color: $product_title;
                        text-transform: uppercase;
                        font-size: 26px;
                        padding-bottom: 20px;
                    }

                    .availability {
                        justify-content: space-between;
                        background-color: #55ba59;

                        .price {
                            width: 55%;
                            color: #bafd9c;
                        }

                        .result-price {
                            color: #ffffff;
                        }

                        .available {
                            width: 20%;
                            text-align: right;
                            border-right: 1px solid #000000;
                            color: #bafd9c;
                            text-transform: uppercase;
                        }

                        .check-availability{
                            width: 25%;
                            color: #ffffff;
                        }

                        

                        .price,
                        .available,
                        .check-availability {
                            padding: 15px;
                        }

                    }

                    p {
                        padding: 20px 0;
                        font-size: 18px;
                        line-height: 25px;
                        color: $grey_text;
                    }
                }

                .adv-image {
                    width: 40%;
                    text-align: right;

                    h3 {
                        color: $grey_text;
                    }
                }
            }
        }
    }

    
}