main {

    // Main HomePage
    .main-content  {
        background-color: #1c1c1c;
        padding-top: 60px;
        position: relative;

        .current {
            color: #ffffff;
            background-color: $brand_primary;
            position: absolute;
            top: -40px;
            left: auto;
            padding: 20px;
            text-transform: uppercase;
        }

        .container {
            justify-content: space-between;
            flex-wrap: wrap;

            .single-box {
                width: calc((100% / 6) - 10px);
                padding: 0 10px;
                padding-bottom: 10px;
                cursor: pointer;

                .image-box {
                    height: 200px;
                    overflow: hidden;
                }
    
                h3 {
                    padding: 20px 0;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-size: 12px;
                }
            }

        }

        .load-btn {
            background-color: $brand_primary;
            padding: 10px 45px;
            border: 0;
            color: #ffffff;
            text-transform: uppercase;
            font-weight: bold;
            display: block;
            margin: 20px auto;
            outline: 0;
            cursor: pointer;
        }


        .bg-blue {
            background-color: $brand_primary;

            .container {
                justify-content: space-around;

                .single-item {
                    align-items: center;
                    padding: 20px 0;
                    cursor: pointer;

                    img {
                        height: 50px;
                        color: #ffffff;

                    }

                    p {
                        text-transform: uppercase;
                        color: #ffffff;
                        padding: 0 10px;
                        font-size: 14px;
                    }

                    &:last-child img {
                        width: 50px;
                    }
                }
            }
        }
    }
    // End Main HomePage

    // Single Product
    .single-product {

        .bg-blue {
            height: 100px;
            background-color: $brand_primary;
        }

       .container {
            position: relative;

            .product-image {
                position: absolute;
                top: -320px;
                left: 0;
                border: 1px solid #ffffff;
            }

            .info {
                padding: 80px 0;
                justify-content: space-between;

                .info-product {
                    width: 60%;

                    h1 {
                        color: $product_title;
                        text-transform: uppercase;
                        font-size: 26px;
                        padding-bottom: 20px;
                    }

                    .availability {
                        justify-content: space-between;
                        background-color: #55ba59;

                        .price {
                            width: 55%;
                            color: #bafd9c;
                        }

                        .result-price {
                            color: #ffffff;
                        }

                        .available {
                            width: 20%;
                            text-align: right;
                            border-right: 1px solid #000000;
                            color: #bafd9c;
                            text-transform: uppercase;
                        }

                        .check-availability{
                            width: 25%;
                            color: #ffffff;
                        }

                        

                        .price,
                        .available,
                        .check-availability {
                            padding: 15px;
                        }

                    }

                    p {
                        padding: 20px 0;
                        font-size: 18px;
                        line-height: 25px;
                        color: $grey_text;
                    }
                }

                .adv-image {
                    width: 40%;
                    text-align: right;

                    h3 {
                        color: $grey_text;
                    }
                }
            }

            
        }

        .cast {
            background-color: #f6f6f6;
            border-top: 1px solid lightgray;
            padding-top: 60px;
            
            .cast-content {
                justify-content: space-between;
                align-items: baseline;

                .list-title {
                    width: 30%;
                    color: #003f5e;
                }

                .data-of-product {
                    width: 70%;
                }

                h2 {
                    color: #003f5e;
                }

                .artist-content {
                    width: 50%;
    
        
                    li{
                        display: inline-block;
                        color: #00a9df;
                        font-size: 14px;
                        line-height: 10px;
        
                    }
                    

                    .artist,
                    .writers,
                    h2 {
                        border-bottom: 1px solid #e3e3e3;
                        padding: 15px 0;
                        
                    }
                }
    
                .info-content {    
                    width: 45%;

                    .series,
                    .price,
                    .on-sale,
                    h2 {
                        padding: 15px 0;
                        border-bottom: 1px solid #e3e3e3;
                    }

                    .specs-series {
                        text-transform: uppercase;
                        color: #00a9df;
                    }
                }
            }

            .icon-container {
                margin-top: 60px;
                border-top: 1px solid #e3e3e3;

                .icon-product-page {
                    

                    .single-icon {
                        padding: 10px;
                        color: $grey_text;
                        width: calc(100% / 4);
                        justify-content: space-around;
                        border-left: 1px solid #e3e3e3;

                        &:last-child {
                            border-right: 1px solid #e3e3e3;
                        }

                        h5 {
                            text-transform: uppercase;
                        }
                        

                        #digital-comics,
                        #shop-dc,
                        #comic-shop,
                        #subscription {
                            background-image: url(../img/cta-icons.png);
                            background-repeat: no-repeat;
                            background-size: 180px;
                            height: 45px;
                            width: 45px;
                        }

                        #digital-comics {
                            background-position: 0 0;
                        } 

                        #shop-dc {
                            background-position: -135px 0;
                        }

                        #comic-shop {
                            background-position: -90px 0;
                        }

                        #subscription {
                            background-position: -45px 0;
                        }
                    }

                   
                }
            }

            
        }
    }
    // Single Product

    // ERROR
    .error-content {
        padding: 80px 0;
        background-color: #1c1c1c;
        height: 600px;
        position: relative;
            
        h1 {
            color: $brand_primary;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            

            .error {

                &::after {
                    content: '';
                    border-right: 1px solid $brand_primary;
                    padding-left: 10px;
                }
            }
        }

            
    }
    // END ERROR

    
}